/* will take 100% of the height */
html, body{
  height:100%;
  margin: 0;
  display: flex;
}

/* elements and classes will be centered and wrapped if the screen goes small */
h1, p,  .controls {
  text-align: center;
  flex-wrap: wrap;
}


h1, p{
  margin: 30px 285px
}

/* this class it wont display nothing  */
.hide {
  display: none;
}

/* center text margins and moving items to the right */
h2{
  text-align: center;
  justify-content: flex-end;
  margin-left: 250px;
  margin-top: 150px;
}

/* background color font colors and line height */
body {
  background-color: #4050A0;
font-family: 'Silkscreen', sans-serif;
  color: gold;
  flex-wrap: wrap;
  line-height: 50px;
  padding: 20px;
}

/* decoration and button rounded */
button {
  border-radius: 20px;
  background-color: black;
  font-family:'Bungee Spice', sans-serif;
  margin: 20px;
  text-align: center;
  padding:20px;
  width: 200px;
  }

  